<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Monitor and control your power consumption">
    <meta name="theme-color" content="rgb(0, 208, 255)">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="manifest" href="../manifest.json"/>
    <link rel="shortcut icon" href="../icons/bolt_blue.png" type="image/x-icon">
    <title>Power Meter</title>
</head>
<body>
    <slot></slot>
</body>
</html>

<style>
    @font-face {
        font-family: "Dosis";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/Dosis.woff2") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-family: "Material Icons Round";
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/MaterialIconsRound.woff2") format("woff2");
    }

    :global(.material-icons-round) {
        font-family: "Material Icons Round";
        font-weight: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        -webkit-font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;
        font-size: 30px;
        color: black;
    }
    
    :root {
        --main-color: rgb(0, 208, 255);
        --accent-color: rgb(143, 234, 255);
        --background-color: rgb(38, 38, 38);
        --background-color-dark: rgb(16, 16, 16);
        --contrast-color: rgb(255, 255, 255);
        --inactive-color: rgb(86, 86, 86); 
        --error-color: rgb(255, 133, 85);
    }
    
    body {
        width: 100vw;
        height: 100vh;
        height: 100svh;
        font-family: "Dosis";
        margin: 0;
        background-color: var(--background-color);
        user-select: none;
        color: var(--contrast-color);
    }

    :global(h1, h2, h3, h4, h5, h6) {
        margin: 0;
        text-align: center;
    }
    
    :global(.bar) {
        z-index: 1;
        background-color: var(--main-color);
        box-shadow: 0 0 30px var(--background-color);
    }

    :global(.card) {
        box-sizing: border-box;
        flex-shrink: 0;
        overflow: hidden;
        background-color: var(--background-color-dark);
        width: min(90%, 1300px);
        max-width: min(90%, 1300px);
        border-radius: 20px;
        --margin-top-bottom: 2vh;
        margin-top: var(--margin-top-bottom);
        margin-bottom: var(--margin-top-bottom);
    }

    :global(.card-padding) {
        padding: 20px;
    }

    :global(button) {
        font-family: "Dosis";
        background-color: var(--main-color);
        border: 0;
        cursor: pointer;
    }

    :global(a) {
        color: var(--contrast-color);
    }

    :global(a:link, a:visited, a:hover, a:active) {
        text-decoration: none;
    }
</style>